<div class="{{ galleryClassList }}"{% if isFullscreen %} data-fullscreen="1"{% endif %}>
  {% if items %}
    <div class="xGallery" style="{{ galleryStyles }}" {% if rowGalleryPadding %} xRowGalleryPadding="{{ rowGalleryPadding }}"{% endif %}>

      {%- for item in items -%}
        {%- if item.type == 'image' -%}
          <div class="xGalleryItem xGalleryItemType-image xImgIndex-1" style="width: {{ item.width }}px; height: {{ item.height }}px">
            <img src="{{ item.src }}" width="{{ item.width }}" height="{{ item.height }}"{% if item.srcset %} srcset="{{ item.srcset }}"{% endif %} alt="{{ item.alt }}">
            <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
          </div>
        {%- else -%}
          <div class="xGalleryItem xGalleryItemType-video">
            <video width="{{ item.width }}" controls controlsList="nodownload"{% if item.poster %} poster="{{ item.poster }}"{% endif %}{% if item.autoplay %} data-autoplay="1"{% endif %}>
              <source src="{{ item.original }}" type="video/mp4">
            </video>
            <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
          </div>
        {%- endif -%}
      {%- endfor -%}

      {%- if loader -%}
        <div class="xGalleryItem loading" style="width: {{ loader.width }}px; min-height: {{ loader.height }}px;">
          <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" height="128" width="128" version="1.1">
            <g>
              <path style="fill:#ccc;fill-opacity:1;stroke-width:21.4183197" d="M 84.500003,64.000001 A 15.500001,15.500001 0 0 0 100,79.5 15.500001,15.500001 0 0 0 115.5,64.000001 15.500001,15.500001 0 0 0 100,48.5 15.500001,15.500001 0 0 0 84.500003,64.000001 Z m -41.000003,0 A 15.500001,15.500001 0 0 1 28,79.5 15.500001,15.500001 0 0 1 12.5,64.000001 15.500001,15.500001 0 0 1 28,48.5 15.500001,15.500001 0 0 1 43.5,64.000001 Z" />
            </g>
          </svg>
        </div>
      {%- endif -%}

      {%- if isEditMode -%}
        <a href="#" class="xGalleryEditButton xEditorLink xSysCaption xMAlign-container">
          <span class="xMAlign-outer-gallery">
            <span class="xMAlign-inner-gallery">edit gallery</span>
          </span>
        </a>
      {%- endif -%}
    </div>

    <ul class="xGalleryNav" style="display:none">
      {% for item in navigationItems %}
        <li>
          <a href="{{ item.src }}" target="_blank"{{ item.attributes|raw }}>
            <span>{{ item.index }}</span>
          </a>
          <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
