<a class="xCreateNewEntry xPanel xAction-entryCreateNew" href="#"><span>create new entry here</span></a>
<div class="xEntryEditWrap">
  <div class="xEntryEditWrapButtons xPanel">
    {% if templateName == 'messy' %}
      <a href="#" class="xEntryMove xHandle" title="Drag + Shift to move all"><span>move entry</span></a>
    {% else %}
      <a href="#" class="xEntryMove" title="drag to move"><span>move entry</span></a>
    {% endif %}

    <div class="tagsList">
      <div title="{{ tagList }}" class="xEditableRC xProperty-submenu xFormatModifier-toTags" data-path="{{apiPath}}tags/tag">{{ tagList }}</div>
    </div>
    <div class="xEntryDropdown"></div>
    <br class="clear" />
  </div>

  <div class="xEntryDropdownBox">
    <ul>
      {% if sections %}
        <li>
          <a href="#" class="js-bt-open-move-entry-to-section" title="move entry to other section"><span>Move to section</span></a>
        </li>
      {% endif %}

      {% if templateName == 'messy' %}
        <li>
          <a href="#" class="xEntryToBack" title="send to back behind others"><span>Send to back</span></a>
        </li>
        <li>
          <a><div class="xEntryCheck"><label><span class="xEditableRealCheck xProperty-fixed" data-path="{{apiPath}}content/fixed">{{ entryFixed }}</span>Fixed position</label></div></a>
        </li>
        <li>
          <div class="customWidth">
            <div title="{{ entryWidth }}" class="xEditableRC xCSSUnits-1 xProperty-width" data-path="{{apiPath}}content/width">{{ entryWidth }}</div>
          </div>
        </li>
      {% endif %}
      <li>
        <a><div class="xEntryCheck"><label><span class="xEditableRealCheck xProperty-marked" data-path="{{apiPath}}marked">{{ entryMarked }}</span>Marked</label></div></a>
      </li>
      <li>
        <a href="#" class="xEntryDelete xAction-entryDelete" title="delete"><span>Delete</span></a>
      </li>
    </ul>

    {{ productAttributesEditor|raw }}
  </div>

  {% if sections %}
    <div class="bt-move-entry-to-section">
      Move entry to:
      <select class="js-move-entry-to-section">
        <option>-</option>
        {% for section in sections %}
          <option value="{{ section.name }}">{{ section.title }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {{ entryContents|raw }}
</div>
