<div class="xEntryEditWrapButtons xPanel">
  {% if templateName == 'messy' %}
    <a href="#" class="xEntryMove xHandle" title="Drag + Shift to move all"><span>move entry</span></a>
  {% else %}
    <a href="#" class="xEntryMove" title="drag to move"><span>move entry</span></a>
  {% endif %}

  <div class="tagsList">
    <div title="{{ tagList }}" class="xEditableRC xProperty-submenu xFormatModifier-toTags">{{ tagList }}</div>
  </div>
  <div class="xEntryDropdown"></div>
  <br class="clear" />
</div>

<div class="xEntryDropdownBox">
  <ul>
    {% if templateName == 'messy' %}
      <li>
        <a href="#" class="xEntryToBack" title="send to back behind others"><span>Send to back</span></a>
      </li>
      <li>
        <a><div class="xEntryCheck"><label><span class="xEditableRealCheck xProperty-fixed">{{ entryFixed }}</span>Fixed position</label></div></a>
      </li>
      <li>
        <div class="customWidth">
          <div title="$customWidth" class="xEditableRC xCSSUnits-1 xProperty-width">{{ entryWidth }}</div>
        </div>
      </li>
    {% endif %}
    <li>
      <a><div class="xEntryCheck"><label><span class="xEditableRealCheck xProperty-marked">{{ entryMarked }}</span>Marked</label></div></a>
    </li>
    <li>
      <a href="#" class="xEntryDelete xAction-entryDelete" title="delete"><span>Delete</span></a>
    </li>
  </ul>
  {% if isShopAvailable %}
    {#

      @TODO figure out how to manage shop plugin code to place shop related code there

      <div class="xEntrySeperator"></div>
      <div class="xEntryBoxParams">
        <b>Attribute</b>
        <div class="xEditable xProperty-cartAttributes xCaption-attribute cCartAttributes">'.$params['entry']['cartAttributes'].'</div>
        <div class="xEditable xProperty-weight xCaption-weight xUnits-'.$xUnits.'">'.$params['entry']['weight'].'</div>
      </div>

    #}
  {% endif %}
</div>
