<div class="{{ galleryClassList }}">
  {% if galleryItems %}
    <div class="xGallery"{% if galleryFirstImage %} style="width: {{  galleryFirstImage.width }}px; height: {{  galleryFirstImage.height }}px"{% endif %}{% if rowGalleryPadding %} xRowGalleryPadding="{{ rowGalleryPadding }}"{% endif %}>
      {% for item in galleryItems %}
        {% if item.type == 'image' %}
          <div class="xGalleryItem xGalleryItemType-image xImgIndex-1" style="width: {{ item.width }}px; height: {{ item.height }}px">
            <img src="{{ item.src }}" width="{{ item.width }}" height="{{ item.height }}"{% if item.srcset %} srcset="{{ item.srcset }}"{% endif %} alt="{{ item.alt }}">
            <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
          </div>
        {% else %}
          <div class="xGalleryItem xGalleryItemType-video">
            <video width="{{ item.width }}" controls{% if item.poster %} poster="{{ item.poster }}"{% endif %}{% if item.autoplay %} data-autoplay="1"{% endif %}>
              <source src="{{ item.src }}" type="video/mp4">
            </video>
            <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
          </div>
        {% endif %}
      {% endfor %}

      {% if isEditMode %}
        <a href="#" class="xGalleryEditButton xEditorLink xSysCaption xMAlign-container"><span class="xMAlign-outer-gallery"><span class="xMAlign-inner-gallery">edit gallery</span></span></a>
      {% endif %}
    </div>

    {% if galleryNavigation %}
      <ul class="xGalleryNav"{% if not galleryNavigation.showNavigation %} style="display:none"{% endif %}>
        {% for item in galleryNavigation.items %}
          <li>
            <a href="{{ item.src }}" class="xType-{{ item.type }} xVideoHref-{{ item.videoLink }} xAutoPlay-{{ item.autoPlay }} xOrigHref-{% if item.type == 'image' %}{{ item.origLink }}{% endif %} xW-{{ item.width }} xH-{{ item.height }} xImgIndex-{{ item.index }}"{% if item.srcset %} data-srcset="{{ item.srcset }}"{% endif %} target="_blank">
              <span>{{ item.index }}</span>
            </a>
            <div class="xGalleryImageCaption">{{ item.caption|raw }}</div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if galleryNavigation.showFullScreen %}
      <div class="xFullscreen">
        {% for item in galleryNavigation.items %}
          <a href="{{ item.origLink }}" rel="milkbox[gallery-{{ id }}]" title="{{ item.alt }}">#</a>
        {% endfor %}
      </div>
    {% endif %}

    {% if galleryType == 'slideshow' %}
      <div class="loader xHidden"></div>
    {% endif %}
  {% elseif isEditMode %}
    <div class="imageEmpty">
      <a href="#" class="xGalleryEditButton"><span class="xEmpty">&nbsp;gallery&nbsp;</span></a>
    </div>
  {% endif %}
</div>
