{% if galleryPosition == 'above title' %}
  {{ gallery|raw }}
{% endif %}

{% if templateName != 'default' %}
  <div class="entryTextWrap galleryType-{{ galleryType }}">
{% endif %}

{{ entryTitle|raw }}

{% if galleryPosition == 'between title/description' %}
  {{ gallery|raw }}
{% endif %}

{% if showDescription %}
  <div class="entryText xEditableMCE xProperty-description"{{ attributes.description|raw }}>{{ content.description|raw }}</div>
{% endif %}

{% if galleryPosition == 'below description' %}
  {{ gallery|raw }}
{% endif %}

{% if showUrl %}
  <div class="entryContent">
    {% if isEditMode %}
      <div class="xEditable xProperty-url"{{ attributes.url|raw }}>{{ content.url }}</div>
    {% else %}
      <div class="xEditable xProperty-url"><a href="{{ content.url }}" target="_blank">{{ content.url }}</a></div>
    {% endif %}
  </div>
{% endif %}

{{ addToCart|raw }}

{# Close entryTextWrap element #}
{% if templateName != 'default' %}
  </div>
{% endif %}

{% if galleryPosition == 'after text wrap' %}
  {{ gallery|raw }}
{% endif %}
