<{{ entryHTMLTag }} id="{{ entryId }}" class="{{ classList }}"{% if styleList %} style="{{ styleList }}"{% endif %}>

  {% if isEditMode %}
		<a class="xCreateNewEntry xPanel xAction-entryCreateNew" href="#"><span>create new entry here</span></a>
      {# Editor wrapper element #}
		  <div class="xEntryEditWrap">
        {% include 'Sites/Sections/Entries/_entryEditorHeader' %}
  {% endif %}

  {% if templateName != 'default' %}
    <div class="entryTextWrap galleryType-{{ galleryType }}">
  {% endif %}

    {{ content.description|raw }}

  {# Close entryTextWrap element #}
  {% if templateName != 'default' %}
    </div>
  {% endif %}

  {# Close editor wrapper element #}
  {% if isEditMode %}
    </div>
  {% endif %}
</{{ entryHTMLTag }}>
