<div class="addToCart" data-uniqid="{{ uniqid }}">
  {% if isEditMode %}
    <div class="cartPrice xEditableRC xProperty-cartPrice xCaption-price xFormatModifier-toPrice" title="{{ content.cartPrice }}"{{ attributes.cartPrice|raw }}>{{ cartPriceFormatted }}</div>
  {% else %}
    <div class="cartPrice" title="{{ content.cartPrice }}" data-weight="{{ content.weight }}">{{ cartPriceFormatted }}</div>
  {% endif %}

  <br class="clear">

  <div class="cartAttributes{% if not cartAttributes %} hidden{% endif %}">
    {% if cartAttributes %}
      <select class="cart_attributes">
        {% for cartAttribute in cartAttributes %}
          <option value="{{ cartAttribute }}">{{ cartAttribute }}</option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
  <span class="aele{% if not content.cartPrice or not isEditMode %} hidden{% endif %}"><span>{{ addToBasketLabel }}</span></span>
  <span class="addedToCart hidden"><span></span> {{ addedToBasketText }}</span>
  <span class="outOfStock hidden">{{ outOfStockText }}</span>
</div>
