<div class="xEntrySeperator"></div>
<div class="xEntryBoxParams">
  <b>Attribute</b>
  <div class="xEditable xProperty-cartAttributes xCaption-attribute cCartAttributes" data-path="{{apiPath}}content/cartAttributes">{{ cartAttributesEdit }}</div>
  <div class="xEditable xProperty-weight xCaption-weight xUnits-{{ weightUnits }}" data-path="{{apiPath}}content/weight">{{ entryWeight }}</div>
</div>
