<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-old"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-old"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html id="html"> <!--<![endif]-->
  {{ sectionHead|raw }}
  <body class="{{ bodyClasses }}" id="body">
    <div id="allContainer">
      <div id="contentContainer"{% if isResponsive %} class="xResponsive"{% endif %}>
        {{ sitesMenu|raw }}
        <div id="siteHeader">
          {{ siteHeader|raw }}
        </div>
        <div id="additionalTextBlock">
          {{ additionalTextBlock|raw }}
        </div>
        <div id="sectionsMenu">
          {{ sectionsMenu|raw }}
        </div>
        <ol id="pageEntries"{{ pageEntriesAttributes|raw }}>
          {{ entries|raw }}
        </ol>
        {{ portfolioThumbnails|raw }}
        <div id="additionalFooterTextBlock">
          {{ additionalFooterText|raw }}
        </div>
        <p id="userCopyright"{{ userCopyright.attributes|raw }}>
          {{ userCopyright.content|raw }}
        </p>
        {% if bertaCopyright %}
          <div id="bertaCopyright">{{ bertaCopyright|raw }}</div>
        {% endif %}
      </div>
      {{ siteBanners|raw }}
    </div>
    {{ sectionFooter|raw }}
  </body>
</html>
