<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ie-old"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ie-old"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html id="html"> <!--<![endif]-->
  {{ sectionHead|raw }}
  <body class="{{ bodyClasses }}" id="body">
    {{ googleTagManagerNoscript|raw }}
    <div id="allContainer"{% if isCenteredPageLayout %} class="xCentered"{% endif %}>
      <div id="sideColumn"{{ sideColumnAttributes|raw }}>
        <div id="sideColumnTop">
          <div id="sitesMenu">
            {{ sitesMenu|raw }}
          </div>
          <div id="siteHeader">
            {{ siteHeader|raw }}
          </div>
          <div id="additionalTextBlock">
            {{ additionalTextBlock|raw }}
          </div>
          <div id="sectionsMenu">
            {{ sectionsMenu|raw }}
          </div>
        </div>
        <div id="sideColumnBottom">
          <div id="socialMediaLinks">
            {{ socialMediaLinks|raw }}
          </div>
          <p id="userCopyright"{{ userCopyright.attributes|raw }}>
            {{ userCopyright.content|raw }}
          </p>
          {% if bertaCopyright %}
            <p id="bertaCopyright">{{ bertaCopyright|raw }}</p>
          {% endif %}
        </div>
      </div>
      <div id="contentContainer"{{ contentContainerAttributes|raw }}>
        {% if sectionType == 'mash_up' %}
          {% if isResponsive %}
            <div id="mainColumnContainer">
              <div id="mainColumn"{{ mainColumnAttributes|raw }}>
          {% endif %}
          <div id="mashupEntries">
            {{ mashupEntries|raw }}
          </div>
          {% if isResponsive %}
              </div>
            </div>
          {% endif %}
        {% else %}
          <div id="mainColumnContainer">
            <div id="mainColumn"{{ mainColumnAttributes|raw }}>
              <ol id="pageEntries"{{ pageEntriesAttributes|raw }}>
                {{ entries|raw }}
              </ol>
              <br class="clear" />
              <div id="portfolioThumbnails">
                {{ portfolioThumbnails|raw }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="floating-banners" id="siteBanners">
        {{ siteBanners|raw }}
      </div>
    </div>
    <div id="sectionFooter">
      {{ sectionFooter|raw }}
    </div>
  </body>
</html>
