<!DOCTYPE html>
<html id="html">
  {{ sectionHead|raw }}
  <body class="{{ bodyClassList }}" id="body">
    {{ googleTagManagerNoscript|raw }}
    {% if sectionType != 'shopping_cart' %}
      {{ backgroundGallery|raw }}
      {% if backgroundVideoEmbed %}
        <div id="xBackgroundVideoEmbed" class="{{ backgroundVideoEmbed.class }}">
          {{ backgroundVideoEmbed.content|raw }}
        </div>
      {% endif %}
      {% if gridlinesAttributes %}
        <div id="xGridBackground"{{ gridlinesAttributes|raw }}></div>
      {% endif %}
    {% endif %}
    <div id="allContainer">
      {% if sectionType == 'shopping_cart' %}
        {{ cartSection|raw }}
      {% else %}
        <div id="contentContainer"{{ contentContainerAttributes|raw }}>
          {{ shoppingCartLink|raw }}
          <div id="sitesMenu">
            {{ sitesMenu|raw }}
          </div>
          {% if showBackgroundGalleryEditor %}
            <div id="xBgEditorPanelTrigContainer">
              <a href="#" id="xBgEditorPanelTrig" title="Edit background gallery">
                <svg height="16" width="16" viewBox="0 0 16 16">
                    <path d="m3.8 14.6 1-1-2.5-2.5-1 1v1.1h1.4v1.4zm5.5-9.8q0-0.2-0.2-0.2-0.1 0-0.2 0.1l-5.7 5.7q-0.1 0.1-0.1 0.2 0 0.2 0.2 0.2 0.1 0 0.2-0.1l5.7-5.7q0.1-0.1 0.1-0.2zm-0.6-2 4.4 4.4-8.8 8.8h-4.4v-4.4zm7.2 1q0 0.6-0.4 1l-1.8 1.8-4.4-4.4 1.8-1.7q0.4-0.4 1-0.4 0.6 0 1 0.4l2.5 2.5q0.4 0.4 0.4 1z" fill="currentColor" />
                </svg>
              </a>
            </div>
          {% endif %}
          <div id="siteHeader">
            {{ siteHeader|raw }}
          </div>
          <div id="sectionsMenu">
            {{ sectionsMenu|raw }}
          </div>
          {% if not isGridViewEnabled %}
            <div id="pageEntries"{{ pageEntriesClasses|raw }}>
              {{ entries|raw }}
            </div>
          {% endif %}
          <div id="portfolioThumbnails">
            {{ portfolioThumbnails|raw }}
          </div>
          <div id="additionalTextBlock">
            {{ additionalTextBlock|raw }}
          </div>
          <div id="siteBanners">
            {{ siteBanners|raw }}
          </div>
        </div>
        {% if gridTrigger %}
          <div id="xGridViewTriggerContainer"{{ gridTrigger.attributes|raw }}>
            <a id="xGridViewTrigger" href="{{ gridTrigger.link }}"><span>thumbnails</span></a>
          </div>
        {% endif %}
      {% endif %}
    </div>
    {% if sectionType != 'shopping_cart' %}
      {{ gridView|raw }}
      <div id="bottom" class="clearfix">
        <div id="additionalFooterTextBlock">
          {{ additionalFooterText|raw }}
        </div>
          {% if bertaCopyright %}
            <p id="bertaCopyright">{{ bertaCopyright|raw }}</p>
          {% endif %}
          <p id="userCopyright"{{ userCopyright.attributes|raw }}>
            {{ userCopyright.content|raw }}
          </p>
      </div>
    <div id="sectionFooter">
      {{ sectionFooter|raw }}
    </div>
    {% endif %}
    {% if alertMessage %}
      <script type="text/javascript">alert('{{ alertMessage }}');</script>
    {% endif %}
  </body>
</html>
