<head>
  <meta charset="UTF-8">
  {% if isResponsive or isAutoResponsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endif %}
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  {% if noindex %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  {{ googleSiteVerificationTag|raw }}
  <title>{{ title }}</title>
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{ author }}",
      "url" : "{{ baseUrl }}"
    }
  </script>
  {% for favicon in favicons %}
    <link{{ favicon|raw }}>
  {% endfor %}
  {% if styles.googleWebFonts %}
    <link href="//fonts.googleapis.com/css?family={{ styles.googleWebFonts }}&amp;subset=latin,latin-ext,cyrillic-ext,greek-ext,greek,vietnamese,cyrillic" rel="stylesheet">
  {% endif %}
  {% for cssFile in styles.cssFiles %}
    <link rel="stylesheet" href="{{ cssFile }}">
  {% endfor %}
  {% if styles.inlineCSS %}
    <style>
      {{ styles.inlineCSS|raw }}
    </style>
  {% endif %}
  {% if styles.customCSS %}
    <style>
      {{ styles.customCSS|raw }}
    </style>
  {% endif %}
  {% if googleAnalyticsId %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ googleAnalyticsId }}');
    </script>
  {% endif %}
  {% if googleTagManagerContainerId %}
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ googleTagManagerContainerId }}');
    </script>
  {% endif %}
  {{ scripts.sentryScript|raw }}
  <script>
    var bertaGlobalOptions = {{ scripts.bertaGlobalOptions|raw }};
  </script>
  {% for scriptFile in scripts.scriptFiles %}
    <script src="{{ scriptFile }}"></script>
  {% endfor %}
</head>
