<nav>
	<a href="#" id="menuToggle">
		<span></span>
	</a>
	<ul>
		{% for section in sections %}
			<li{{ section.attributes|raw }}>
				<a{{ section.linkAttributes|raw }}>{{ section.title }}</a>
				{% if section.tags %}
					<ul{{ section.submenuAttributes|raw }}>
						{% for tag in section.tags %}
							<li{{ tag.attributes|raw }}>
								<a{{ tag.linkAttributes|raw }}>{{ tag.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

	{% if submenu.tags %}
		<ul{{ submenu.submenuAttributes|raw }}>
			{% for tag in submenu.tags %}
				<li{{ tag.attributes|raw }}>
					<a{{ tag.linkAttributes|raw }}>{{ tag.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</nav>
