<head>
  <meta charset="UTF-8">
  {% if isResponsive or isAutoResponsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endif %}
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  {% if noindex %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  {{ googleSiteVerificationTag|raw }}
  <title>{{ title }}</title>
  <link rel="icon" href="{{ favicon }}">
</head>
