<div id="xBackgroundContainer">
  <div{{ wrapperAttributes|raw }}>
    <div id="xBackgroundLoader"></div>
    <div class="visual-list">
      {% for item in items.all %}
        {% if item.caption %}
          <textarea{{ item.captionClass|raw }}>{{ item.caption|raw }}</textarea>
        {% endif %}
        <input type="hidden" width="{{ item.width }}" height="{{ item.height }}" src="{{ item.src }}"{{ item.imageClass|raw }}>
      {% endfor %}
    </div>

    <div class="visual-image">
      {% if not items.current.caption %}
        <img width="{{ items.current.width }}" height="{{ items.current.height }}" src="{{ items.current.src }}" class="bg-element">
      {% endif %}
    </div>
    <div class="visual-caption"{{ items.current.captionStyles|raw }}>
      {% if items.current.caption %}
        <div class="caption-content">{{ items.current.caption|raw }}</div>
      {% endif %}
    </div>

    {% if showDesktopNavigation %}
      <div id="xBackgroundLeft"></div>
      <div id="xBackgroundRight"></div>
      <div id="xBackgroundLeftCounter"{% if not showSlideCounters %} class="xHidden"{% endif %}><div class="counterContent"></div></div>
      <div id="xBackgroundRightCounter"{% if not showSlideCounters %} class="xHidden"{% endif %}><div class="counterContent"></div></div>
    {% endif %}
  </div>

  {% if showMobileNavigationArrows %}
    <div id="xBackgroundPrevious"><a href="#"><span>previous</span></a></div>
    <div id="xBackgroundNext"><a href="#"><span>next</span></a></div>
  {% endif %}
</div>
