<div id="xBgEditorPanel" class="xPanel">
  <div class="xBgEditorTabs">
    <div class="xBgMediaTab tab">
      <a href="#" class="xParams-media selected" title="add images and videos">
        <span>media</span>
      </a>
    </div>
    <div class="xBgSettingsTab tab">
      <a href="#" class="xParams-settings" title="background settings">
        <span>background settings</span>
      </a>
    </div>
    <div class="xBgSlideshowSettingsTab tab">
      <a href="#" class="xParams-slideshow_settings" title="slideshow settings">
        <span>slideshow settings</span>
      </a>
    </div>
    <div class="xBgImgSizeSettingsTab tab">
      <a href="#" class="xParams-image_size_settings" title="image size">
        <span>image size</span>
      </a>
    </div>
    <a class="xBgEditorCloseLink" href="#" title="close background editor">
      <span>X</span>
    </a>
  </div>
  <div class="xBgAddMedia">
    <input type="file" name="Filedata" class="xHidden" multiple>
    <a class="xEntryAddImagesLink" href="/_api/v1/sites/sections/backgrounds" data-path="{{ dataPath.addMedia }}">+ add media</a>
  </div>
  <div class="xBgSettings xHidden">
    <div class="xBgNavigationSettings">
      <div class="caption">hide navigation arrows</div>
      <div class="xBgNavigation xFloatLeft xEditableSelectRC xCommand-SET_BG_NAVIGATION" x_options="no||yes" data-path="{{ dataPath.hideNavigation }}">
        {{ hideNavigation }}
      </div>
      <div class="clear"></div>
    </div>
    <div class="xBgAnimationSettings">
      <div class="caption">animation</div>
      <div class="xBgAnimation xEditableSelectRC xCommand-SET_BG_ANIMATION" x_options="enabled||disabled" data-path="{{ dataPath.animation }}">
        {{ animation }}
      </div>
      <div class="clear"></div>
    </div>
    <div class="xBgFadingSettings">
      <div class="caption">fade content</div>
      <div class="xBgFading xEditableSelectRC xCommand-SET_BG_FADE_CONTENT" x_options="enabled||disabled" data-path="{{ dataPath.fadeContent }}">
        {{ fadeContent }}
      </div>
      <div class="clear"></div>
    </div>
    <div class="xBgColorSettings">
      <div class="caption">background color</div>
      <div class="xBgColor xEditableColor xProperty-sectionBgColor xNoHTMLEntities xCSSUnits-0 xRequired-1" title="{{ backgroundColor }}" data-path="{{ dataPath.backgroundColor }}">
        {{ backgroundColor }}
      </div>
      <div class="xBgColorReset xReset xCommand-sectionBgColorReset xParams-sectionBgColor" data-path="{{ dataPath.backgroundColor }}">
        <a href="#">
          <span>remove</span>
        </a>
      </div>
      <div class="clear"></div>
      <div class="caption">caption text color</div>
      <div class="xBgColor xEditableColor xCommand-SET_BG_CAPTION_COLOR xNoHTMLEntities xCSSUnits-0 xRequired-1" title="{{ captionColor }}" data-path="{{ dataPath.captionColor }}">
        {{ captionColor }}
      </div>
      <div class="xBgColorReset xReset xCommand-RESET_BG_CAPTION_COLOR xParams-SET_BG_CAPTION_COLOR" data-path="{{ dataPath.captionColor }}">
        <a href="#">
          <span>remove</span>
        </a>
      </div>
      <div class="clear"></div>
      <div class="caption">caption background color</div>
      <div class="xBgColor xEditableColor xCommand-SET_BG_CAPTION_BACK_COLOR xNoHTMLEntities xCSSUnits-0 xRequired-1" title="{{ captionBackgroundColor }}" data-path="{{ dataPath.captionBackgroundColor }}">
        {{ captionBackgroundColor }}
      </div>
      <div class="xBgColorReset xReset xCommand-RESET_BG_CAPTION_BACK_COLOR xParams-SET_BG_CAPTION_BACK_COLOR" data-path="{{ dataPath.captionBackgroundColor }}">
        <a href="#">
          <span>remove</span>
        </a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="xBgImgSizeSettings xHidden">
    <div class="caption">background image size</div>
    <div class="xBgImgSize xEditableSelectRC xCommand-SET_BG_IMG_SIZE" x_options="large||medium||small" data-path="{{ dataPath.imageSize }}">
      {{ imageSize }}
    </div>
    <div class="clear"></div>
  </div>
  <div class="xBgSlideshowSettings xHidden">
    <div class="caption">autoplay seconds</div>
    <div class="xBgAutoPlay xEditableRC xCommand-SET_AUTOPLAY xCaption-0" title="{{ autoPlay }}" data-path="{{ dataPath.autoPlay }}">
      {{ autoPlay }}
    </div>
    <div class="clear"></div>
  </div>
  <div class="images">
    <ul>
      {% for item in items %}
        <li class="image" filename="{{ item.src }}">
          <img class="img" src="{{ item.thumbnail }}">
          <span class="grabHandle xMAlign-container">
            <span class="xMAlign-outer">
              <a class="xMAlign-inner" title="click and drag to move">
                <span></span>
              </a>
            </span>
          </span>
          <a href="#" class="delete"></a>
          <div class="xEGEImageCaption xEditableMCESimple xProperty-galleryImageCaption xCaption-caption xParam-{{ item.src }}" data-path="{{ item.captionDataPath }}">
            {{ item.caption|raw }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
