<nav>
	<a href="#" id="menuToggle">
		<span></span>
	</a>
	<ul>
    {% for section in sections %}
    <li{{ section.attributes|raw }}>
      <a{{ section.linkAttributes|raw }}>{{ section.title }}</a>
      {% if section.tags %}
        <ul>
          {% for tag in section.tags %}
            <li>
              <a href="{{ tag.url }}">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if submenu %}
    <ul>
      {% for tag in submenu %}
        <li>
          <a href="{{ tag.url }}">{{ tag.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
